body
{
background-image:url("/images/chica.jpg");
background-attachment:fixed;
font-family:calibri;
}
caption
{
color:purple;
font-size:150%;
font-weight:bold;
padding-botton:0.5cm;
}
table
{
font-size:12px;
}
textarea,input
{
text-transform:capitalize;
}
.boton
{
font-size:12px;
font-family:Verdana,Helvetica;
font-weight:bold;
color;white;
background:#638cb5;
border:4px;
width:100px;
height:25px;
}